:root {
    --White: hsl(0, 0%, 100%)
    --Light-gray: hsl(212, 45%, 89%)
    --Grayish-blue: hsl(220, 15%, 55%)
    --Dark-blue: hsl(218, 44%, 22%)
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
/* Globales */
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

